/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        braceL {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <4 14>;
        };

        parenL {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 13>;
        };

        brackL {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <12 2>;
        };

        braceR {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <5 15>;
        };

        parenR {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 16>;
        };

        brackR {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <7 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans           &kp W        &kp F             &kp P           &kp B                                    &kp J              &kp L        &kp U            &kp Y     &trans
 &kp Q  &mt LEFT_ALT R  &mt LCTRL S  &mt LEFT_SHIFT T  &mt LEFT_GUI G                          &mt RIGHT_GUI M  &mt RIGHT_SHIFT N  &mt RCTRL E  &mt RIGHT_ALT I    &kp SQT
 &kp A           &kp X        &kp C             &kp D           &kp V                                    &kp K              &kp H    &kp COMMA          &kp DOT      &kp O
 &kp Z          &trans                      &lt 1 ESC     &lt 2 SPACE  &lt 3 TAB  &lt 4 ENTER  &lt 5 BACKSPACE          &lt 6 DEL                        &trans  &kp SLASH
            >;
        };

        Media {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Media";
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Nav";
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Mouse";
        };

        Sym {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Sym";
        };

        Num {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Num";
        };

        Fun {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Fun";
        };
    };
};
