/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        braceL {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <4 14>;
            layers = <0>;
        };

        parenL {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 13>;
            layers = <0>;
        };

        brackL {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <12 2>;
            layers = <0>;
        };

        braceR {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <5 15>;
            layers = <0>;
        };

        parenR {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 16>;
            layers = <0>;
        };

        brackR {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <7 17>;
            layers = <0>;
        };

        bootloadL {
            bindings = <&bootloader>;
            key-positions = <0 1>;
            layers = <5>;
        };

        bootloadR {
            bindings = <&bootloader>;
            key-positions = <9 8>;
            layers = <1>;
        };

        pwAdm {
            bindings = <&PWAdm>;
            key-positions = <0 1>;
            layers = <0>;
        };

        pw1 {
            bindings = <&PW1>;
            key-positions = <0 2>;
            layers = <0>;
        };

        pw12 {
            bindings = <&PW12>;
            key-positions = <0 3>;
            layers = <0>;
        };
    };

    macros {
        PW12: PW12 {
            compatible = "zmk,behavior-macro";
            label = "PW12";
            #binding-cells = <0>;
            bindings = <&kp C &kp X &kp J &kp N1 &kp F &kp G &kp J &kp N2 &kp LS(H) &kp LS(C) &kp LS(T) &kp STAR &kp A &kp P &kp H &kp N2 &kp R &kp Z &kp V>;
        };
        PW1: PW1 {
            compatible = "zmk,behavior-macro";
            label = "PW1";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp POUND &kp N8 &kp LS(G) &kp LS(C) &kp L &kp LS(J) &kp N9 &kp LS(Q) &kp LS(C) &kp PRCNT &kp N3 &kp D &kp LS(P) &kp AT &kp LS(I) &kp N6 &kp W &kp N9 &kp LS(G) &kp CARET &kp W &kp I &kp X &kp L &kp W &kp O &kp AMPS &kp G &kp LS(W) &kp DLLR &kp J &kp LS(W) &kp N9 &kp LS(U) &kp N9 &kp B &kp J &kp I &kp A>;
        };
        PWAdm: PWAdm {
            compatible = "zmk,behavior-macro";
            label = "PWADM";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp BACKSLASH &kp L &kp O &kp C &kp A &kp L &kp UNDER &kp A &kp D &kp M &kp TAB &kp LS(K) &kp EXCL &kp LS(J) &kp AT &kp E &kp J &kp LS(Y) &kp D &kp J &kp N9 &kp E &kp K>;
        };
    };

    behaviors {
        GerSonderzeichen: GerSonderzeichen {
            compatible = "zmk,behavior-hold-tap";
            label = "GERSONDERZEICHEN";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
        HomeRowMods: HomeRowMods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWMODS";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC                &kp W                        &kp F                 &kp P                    &kp B                                             &kp J                  &kp L                 &kp U                &kp Y     &tog 6
  &kp Q  &HomeRowMods LALT R  &HomeRowMods LEFT_CONTROL S  &HomeRowMods LSHFT T  &HomeRowMods LEFT_GUI G                          &HomeRowMods RIGHT_GUI M  &HomeRowMods RSHIFT N  &HomeRowMods RCTRL E  &HomeRowMods RALT I    &kp SQT
  &kp A                &kp X                        &kp C                 &kp D                    &kp V                                             &kp K                  &kp H             &kp COMMA              &kp DOT      &kp O
  &kp Z               &trans                                          &lt 2 TAB              &lt 4 SPACE  &lt 5 ENTER  &kp ENTER           &lt 1 BACKSPACE              &lt 3 DEL                            &kp EXCLAMATION  &kp SLASH
            >;
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &kp K_CUT  &mt LC(PAGE_UP) PAGE_UP         &kp INS  &mt LC(PAGE_DOWN) PAGE_DOWN  &sys_reset
&trans  &trans  &trans  &trans  &trans                   &kp K_COPY           &kp LEFT_ARROW    &kp UP_ARROW              &kp RIGHT_ARROW      &trans
&trans  &trans  &trans  &trans  &trans                  &kp K_PASTE        &mt LC(HOME) HOME  &kp DOWN_ARROW              &mt LC(END) END      &trans
&trans  &trans          &trans  &trans  &trans  &trans       &trans                   &trans                                       &trans      &trans
            >;

            label = "Nav";
        };

        Media {
            bindings = <
&ext_power EP_TOG      &trans   &kp C_VOLUME_UP  &kp C_STOP  &bt BT_CLR                  &trans  &trans  &trans  &trans  &trans
     &out OUT_TOG  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT      &trans                  &trans  &trans  &trans  &trans  &trans
       &bt BT_NXT  &bt BT_PRV      &kp C_VOL_DN  &kp C_MUTE      &trans                  &trans  &trans  &trans  &trans  &trans
           &trans      &trans                        &trans      &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Media";
        };

        Num {
            bindings = <
&trans  &trans  &trans  &trans  &trans                   &kp KP_NUMLOCK  &kp KP_NUMBER_7  &kp KP_NUMBER_8      &kp KP_NUMBER_9    &kp KP_DIVIDE
&trans  &trans  &trans  &trans  &trans                     &kp KP_EQUAL  &kp KP_NUMBER_4  &kp KP_NUMBER_5      &kp KP_NUMBER_6  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans                  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2      &kp KP_NUMBER_3  &kp KP_SUBTRACT
&trans  &trans          &trans  &trans  &trans  &trans           &trans           &trans                   &mt KP_DOT KP_COMMA      &kp KP_PLUS
            >;

            label = "Num";
        };

        Sym {
            bindings = <
       &trans  &kp ASTERISK    &kp GRAVE  &kp TILDE         &trans                  &trans  &trans  &trans  &trans  &trans
    &kp UNDER     &kp PRCNT     &kp AMPS   &kp DLLR  &kp BACKSLASH                  &trans  &trans  &trans  &trans  &trans
&kp SEMICOLON     &kp CARET  &kp AT_SIGN   &kp HASH       &kp PIPE                  &trans  &trans  &trans  &trans  &trans
       &trans        &trans                  &trans         &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Sym";
        };

        Fun {
            bindings = <
&sys_reset              &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN                  &trans  &trans  &trans  &trans  &trans
   &kp F12              &kp F4  &kp F5  &kp F6   &kp SCROLLLOCK                  &trans  &trans  &trans  &trans  &trans
   &kp F11              &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK                  &trans  &trans  &trans  &trans  &trans
   &kp F10  &kp K_CONTEXT_MENU          &trans           &trans  &trans  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Fun";
        };

        Gaming {
            bindings = <
&kp GRAVE         &kp Q  &kp X    &kp E      &kp R                 &trans  &trans  &trans  &trans  &trans
  &kp TAB         &kp A  &kp W    &kp D      &kp F                 &trans  &trans  &trans  &trans  &trans
&kp LSHFT         &kp Z  &kp S    &kp C      &kp V                 &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp LEFT_ALT         &kp ESC  &kp SPACE  &mo 3  &trans  &trans  &trans          &trans  &trans
            >;

            label = "Gaming";
        };
    };
};
