config SHIELD_PROTO
    def_bool $(shields_list_contains,proto)

config SHIELD_PROTO_LEFT
    def_bool $(shields_list_contains,proto_left)

config SHIELD_PROTO_RIGHT
    def_bool $(shields_list_contains,proto_right)
